@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --text-color: hsl(200, 15%, 8%);
  --component-background-color: hsl(0, 0%, 100%);
  --main-background-color: hsl(0, 0%, 98%);
  --input-color: hsl(0, 0%, 52%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--main-background-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  background-color: var(--component-background-color);
}

header .mode {
  display: flex;
  align-items: center;
  gap: .6rem;
  cursor: pointer;
}

header svg {
  width: 18px;
}

header h3 {
  font-weight: 600;
}

header p {
  font-weight: 300;
  font-size: 13px;
}

.search_region {
  display: flex;
  flex-direction: column;
}

.search-box {
  margin: 1.5rem 1rem 0 1rem;
  padding: .9rem 2rem;
  background-color: var(--component-background-color);
  color: var(--input-color);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: .3rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
}

.search-box input {
  font-family: inherit;
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--component-background-color);
  color: var(--input-color);
}

.search-box input::placeholder {
  color: var(--input-color);
}

.select-region {
  margin: 2.5rem 1rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  z-index: 2;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--component-background-color);
  padding: 1rem 1.5rem;
  border-radius: .3rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
}

.filter p {
  font-size: 13px;
  font-weight: 600;
}

.filter i {
  font-size: 11px;
}

.regions {
  background-color: var(--component-background-color);
  padding: 1rem 1.5rem;
  border-radius: .3rem;
  font-size: 13px;
  position: absolute;
  width: 200px;
  margin-top: 3.5rem;
  
}

.regions {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.regions li {
  list-style: none;
  cursor: pointer;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--component-background-color);
  margin: 0 auto 2.5rem auto;
  border-radius: .3rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
}

.card-flag {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.card-flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem 0.3rem 0 0;
  position: absolute; /* Add this */
  top: 0; /* Add this to ensure image starts from the top */
  left: 0;
}

.card-info {
  margin: 2rem 1.5rem;
}

.card-info h2 {
  margin-bottom: 1rem;
  font-size: 19px;
}

.card-info p {
  margin-bottom: .5rem;
  font-weight: 600;
  font-size: 15px;
}

.card-info span {
  font-weight: 300;
  font-size: 15px;
}

body.dark-theme {
  --text-color: hsl(0, 0%, 100%);
  --component-background-color: hsl(209, 23%, 22%);
  --main-background-color: hsl(207, 26%, 17%);
  --input-color: hsl(0, 0%, 100%);
}

.country-detail {
  padding: 2.5rem 1.5rem;
  width: 100%;
}

.country-detail button {
  padding: .5rem 1.8rem;
  background-color: var(--component-background-color);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
  color: var(--text-color);
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  font-family: inherit;
  margin-bottom: 4rem;
}

.detail-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.detail-info h2 {
  margin-top: 3rem;
}

.info-columns {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.info-columns p {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 15px;
}

.info-columns span {
  font-weight: 300;
  font-size: 15px;
}

.border-countries {
  height: fit-content;
}

.border-buttons button{
  margin-bottom: 1rem;
  margin-right: .5rem;
}

@media (min-width:700px) {
  header {
    padding: 2rem 3rem;
  }

  .search_region {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem 3rem 2rem ;
  }

  .search-box {
    height: 50px;
    margin-top: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
    width: 300px;
  }

  .search-box input {
    height: 100%;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin: 0 2rem 3rem 2rem;
  }

  .country-detail {
    padding: 2.5rem 3rem;
    width: 100%;
  }

  .flag-container img {
    width: 50%;
  }

  .info-columns {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }

  .border-countries {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width:1024px) {
  header {
    padding: 2rem;
  }

  .search_region {
    margin: 0 1rem 3rem 1rem;
  }

  .search-box {
    width: 400px;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .detail-info h2 {
    margin-top: 0;
  }

  .flag-container img {
    width: 400px;
    height: 100%;
  }

  .detail_flag {
    display: flex;
    gap: 9rem;
    align-items: center;
  }

  .info-columns p {
    margin-bottom: .5rem;
  }

  .border-countries p {
    margin-bottom: .5rem;
  }
}

@media (min-width: 1440px) {
  .search-box {
    width: 500px;
  }
}
